.infotext{
  padding: 3rem 1rem;
  position: fixed;
  bottom: 0px;
  z-index: 50;
  max-height: 100%;
  overflow-y: scroll;
}
.hide-infotext{
  position: fixed;
  right: 0.5rem;
  bottom: 0.5rem;
}
.scroll-down-note{
  padding: 3rem 1rem;
  position: fixed;
  bottom: 0px;
  z-index: 100;
}
